<section id="about-me" class="shock-section pt-6 pb-6 js-switch-price" data-bg-color="#000">
    <div class="container">
      <!-- Intro -->
      <div class="basic-intro mb-35 text-center">
        <h2 class="title white">
         <span class="text-1 text-style-5">About Me</span>
        </h2>
        <br>
        <p style="font-size:18px;font-weight:800;color:#fff ; padding: 2rem;line-height: 35px;" class="font-weight-bold"><strong>
          <%= data.aboutme ? data.aboutme : '' %>
        </strong></p>
        <div class="description">
        </div>
      </div>
      
      <div class="row g-4">
        <div class="col-12 col-md-12 col-lg-12">
          <div class="card has-price rounded shadow parent">
            <!-- Header -->
            <div class="card-header rounded-top text-center bg-color black">
   
            </div>
            <div class="card-body rounded-bottom" data-bg-color="#201f25">
              <!-- List -->
              <!-- <ul class="checklist">
                <li class="item">
                  <span class="text">3 Amazing things</span>
                  <img class="image-icon primary-50" src="assets/svg/checkmark-outline.svg" alt="Icon name" data-shock-icon="32" />
                </li>
                <li class="item">
                  <span class="text">Funny videos to watch</span>
                  <img class="image-icon primary-50" src="assets/svg/checkmark-outline.svg" alt="Icon name" data-shock-icon="32" />
                </li>
                <li class="item">
                  <span class="text">Freedom to navigate</span>
                  <img class="image-icon primary-50" src="assets/svg/checkmark-outline.svg" alt="Icon name" data-shock-icon="32" />
                </li>
                <li class="item">
                  <span class="text">Can bring the family</span>
                  <img class="image-icon primary-50" src="assets/svg/close-outline.svg" alt="Icon name" data-shock-icon="32" />
                </li>
                <li class="item">
                  <span class="text">Unlimited support</span>
                  <img class="image-icon primary-50" src="assets/svg/close-outline.svg" alt="Icon name" data-shock-icon="32" />
                </li>
              </ul> -->
              <!-- Button -->
              <div class="button-wrapper align-h-center hover-up-down">
                <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Name</span>  <span class="button-text white white-hover"><%= data.firstname ? data.firstname : '' %> <%= data.lastname ? data.lastname : '' %></span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span>
                <!-- <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Birthday</span>  <span class="button-text white white-hover">September 20, 20002</span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span> -->
              </div>
              <div class="button-wrapper align-h-center hover-up-down">
                <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Email</span>  <span class="button-text white white-hover"><%= data.email ? data.email : '' %></span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span>
                <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Phone</span>  <span class="button-text white white-hover">+977 9860840626</span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span>
              </div>
              <div class="button-wrapper align-h-center hover-up-down">
                <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Address</span>  <span class="button-text white white-hover"><%= data.address ? data.address : '' %></span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span>
                <span class="button outline w-100 rounded primary-25 primary-25-hover">
                  <span class="button-text white white-hover">Nationality</span>  <span class="button-text white white-hover"><%= data.nationality ? data.nationality : '' %></span>
                  <i class="fa-solid fa-arrow-right button-icon white white-hover"></i>
                </span>
              </div>
            </div>
            <!-- Link -->
            <a href="/" class="full-link"></a>
          </div>
        </div>
      </div>
    </div>
  </section>