<main id="main" class="shock-main" data-bg-color="#161616">

    <!-- Banner / Progress bar -->
    <section class="shock-section">
      <div class="banner overflow-hidden">
        <div class="row g-5">
          <div class="col-12 col-lg-5">
            <!-- Image -->
            <div class="image-wrapper">
              <img src="/img/thumbs/image.png" alt="Image name" class="image min-vh-100 fit-cover" />
            </div>
          </div>
          <div class="col-12 col-lg-7 align-v-center">
            <div class="holder max-w-85 p-2">
              <!-- Intro -->
              <div class="side-intro mb-35">
                <h2 class="title">
                  <span class="text-1 text-style-2 text-outline gray">Hey, guys!</span>
                  <span class="text-2 text-style-3 text-italic white">I'm <span class="typed-text"></span></span>
                </h2>
                <!-- Srings -->
                <div id="typed-strings">
                  <span>Yajindra Gautam</span>
                  <span>Software Developer</span>
                  <!-- <span>Nodejs Developer</span> -->
                  <span>Programmer</span>
                </div>  
                <div class="description text-style-12 gray">
                    <p style="font-size:25px;font-weight:800;color:#fff ;"><strong>A passionate backend Web Developer.With more then 37k instagram followers learning web development. Founder of Codewithyaji.</strong></p>
         
                </div>
              </div>
              <!-- Progress bar -->
              <!-- <div class="line-progress-bar margin-holder">
                <div class="item">
                  <h3 class="title text-style-11 white">Node JS</h3>
                  <div class="counter" data-value="99" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--white-25-color)" data-text-bg-color="var(--primary-color)" data-text-color="var(--white-color)"></div>
                </div>            
                <div class="item">
                  <h3 class="title text-style-11 white">JavaScript</h3>
                  <div class="counter" data-value="87" data-symbol="%" data-duration="2500" data-bar-stroke="0.5" data-bar-stroke-empty="0.5" data-bar-color="var(--primary-color)" data-empty-bar-color="var(--white-25-color)" data-text-bg-color="var(--primary-color)" data-text-color="var(--white-color)"></div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Scrolling text -->
    <section class="shock-section">
      <div class="scrolling-text has-image align-h-right">
        <!-- Image -->
        <div class="image-wrapper max-w-25 mb-5">
          <img src="/img/thumbs/yaji.jpg" alt="Image name" class="image floating-item" />
        </div>
        <!-- Text -->
        <div class="text-wrapper mix-blend-lighter">
          <h2 class="text text-style-1 text-outline gray-75" data-lax="h-right">Development is the action of doing something</h2>
          <h2 class="text text-style-8 text-italic gray-75" data-lax="h-left">We provide our art to ensure that human insights work well together with technology, brand and business, with a focus on fast and assertive results</h2>
        </div>    
      </div>
    </section>

        <!-- Avout Me Section -->
        <%- include('./_aboutme.ejs') %>

      <!-- My Skill Press Progress bar -->
      <%- include('./_myskills.ejs') %>

      <!-- My Education And Experiance Section -->
      <%- include('./_educationExperiance.ejs') %>

       <!-- Instagram Posts Sections -->
       <%- include('./_instagramposts.ejs') %>

      <!-- Services Sections -->
      <%- include('./_services.ejs') %>

      <!-- Blogs Sections -->
      <%- include('./_blogs.ejs') %>

      <!-- Contact Me Section -->
      <%- include('./_contactme.ejs') %>
      

    <!-- Map -->
    <!-- <section class="shock-section">
      <div id="map-canvas-4" class="vh-50"></div>
    </section> -->

  </main>